.MostSale .splide__slide {
    border: none !important;
}

.MostSale .splide__track--nav>.splide__list>.splide__slide.is-active {
    background-color: rgba(0, 0, 0, 0.60);
}

.MostSaleParentSlider2 .splide {
    top: 50%;
    bottom: 50%;
}

.MostSaleParentSlider .splide__arrow {
    color: #fff;
}

.MostSaleParentSlider .splide__arrow--prev {
    left: -12%;
}

.MostSaleParentSlider .splide__arrow--next {
    right: -12%;
}

@media screen and (max-width: 600px) {
    .MostSaleParentSlider {
        display: none;
    }
}