.banner {
    margin-bottom: 56px;
    padding: 44px;
    border-radius: 32px;
    background: rgb(179, 108, 205);
    background: linear-gradient(90deg, rgba(179, 108, 205, 1) 0%, rgba(227, 182, 84, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    width: 100%;
    max-width: 50%;
    padding: 32px;
}

.banner-heading {
    font-size: 48px;
    color: white;
    letter-spacing: -0.5px;
}

.banner-action {
    display: flex;
    flex-wrap: wrap;
}

.cta-button {
    margin-top: 16px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cta-link {
    margin-left: 250px;
    display: inline-block;
    padding: 16px 20px;
    color: white;
    font-weight: bold;
    background-color: rgb(30, 30, 30);
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.cta-link:hover {
    background-color: black;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 63%;
    margin: auto;
}

.footer-column {
    width: auto;
    padding: 32px;
}

.footer-heading {
    margin-bottom: 14px;
    color: white;
    font-weight: bold;
}

.footer-column ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-column li {
    margin-bottom: 16px;
}

.footer-column a {
    color: white;
    text-decoration: none;
}

.footer-column a:hover {
    color: #c0c0c0;
}

.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 15px #00000027;
    padding: 15px 10px;
    border-radius: 5em;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #fff;
    box-shadow: 0px 0px 4px #00000027;
    transition: 0.3s;
}

.social-button:hover {
    background-color: #f2f2f2;
    box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
    transition: 0.3s;
    height: 20px;
}

.facebook {
    background-color: #3b5998;
}

.facebook svg {
    fill: #f2f2f2;
}

.facebook:hover svg {
    fill: #3b5998;
}

.github {
    background-color: #333;
}

.github svg {
    width: 25px;
    height: 25px;
    fill: #f2f2f2;
}

.github:hover svg {
    fill: #333;
}

.linkedin {
    background-color: #0077b5;
}

.linkedin svg {
    fill: #f2f2f2;
}

.linkedin:hover svg {
    fill: #0077b5;
}

.instagram {
    background-color: #c13584;
}

.instagram svg {
    fill: #f2f2f2;
}

.instagram:hover svg {
    fill: #c13584;
}

.social-icons {
    display: flex;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 2rem;
    text-decoration: none;
    transition: all 0.15s ease;
}

.social-icon:hover {
    color: #fff;
}

.social-icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -150%);
}

.social-icon:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}

.social-icon--linkedin {
    color: #fff;
}

.social-icon--linkedin .tooltip {
    background: #006599;
    color: currentColor;
}

.social-icon--linkedin .tooltip:after {
    border-top-color: #006599;
}

.social-icon--twitter {
    color: #fff;
}

.social-icon--twitter .tooltip {
    background: #2b97f1;
    color: currentColor;
}

.social-icon--twitter .tooltip:after {
    border-top-color: #2b97f1;
}

.social-icon--facebook {
    color: #fff;
}

.social-icon--facebook .tooltip {
    background: #3b5a9b;
    color: currentColor;
}

.social-icon--facebook .tooltip:after {
    border-top-color: #3b5a9b;
}

.social-icon--instagram {
    color: #fff;
}

.social-icon--instagram .tooltip {
    background: #f84ca2;
    color: currentColor;
}

.social-icon--instagram .tooltip:after {
    border-top-color: #f84ca2;
}

.social-icon--dribbble {
    background: #ef5a92;
    color: #fff;
}

.social-icon--dribbble .tooltip {
    background: #ef5a92;
    color: currentColor;
}

.social-icon--dribbble .tooltip:after {
    border-top-color: #ef5a92;
}

.social-icon--github {
    background: #4284c0;
    color: #fff;
}

.social-icon--github .tooltip {
    background: #4284c0;
    color: currentColor;
}

.social-icon--github .tooltip:after {
    border-top-color: #4284c0;
}

.social-icon i {
    position: relative;
    top: 1px;
}


/* Tooltips */

.tooltip {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0.8rem 1rem;
    border-radius: 40px;
    font-size: 0.8rem;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    text-transform: uppercase;
    transform: translate(-50%, -100%);
    transition: all 0.3s ease;
    z-index: 1;
}

.tooltip:after {
    display: block;
    position: absolute;
    bottom: 1px;
    left: 50%;
    width: 0;
    height: 0;
    content: "";
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
}